<div id="loginContainer" style="display: block;">
    <div id="loginContent">
        <div id="loginHeader">
            <div id="loginLogo">
                <img src="assets/images/SealCircle.png" alt="YourServerName" style="width: 100px; height: 100px;">
            </div>
            <h1 id="loginTitle">YourServerName</h1>
        </div>
        
        <div id="loginForm">
            <div class="loginInputGroup">
                <input type="text" id="loginUsername" placeholder="Nom d'utilisateur" autocomplete="username">
            </div>
            
            <div class="loginInputGroup">
                <input type="password" id="loginPassword" placeholder="Mot de passe" autocomplete="current-password">
            </div>
            
            <button id="loginButton" class="loginButton">
                <span id="loginButtonText">Se connecter</span>
                <div id="loginSpinner" class="loginSpinner" style="display: none;"></div>
            </button>
            
            <div id="loginError" class="loginError" style="display: none;"></div>
            
            <div class="loginLinks">
                <a href="https://yoursite.com/register" target="_blank" class="loginLink">Create Account</a>
                <a href="https://yoursite.com/forgot-password" target="_blank" class="loginLink">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
